* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16%;
  border-radius : 0px;
}
.nav-bar{
  margin-left:45px; 
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: block;
  padding: 100px 20px;
  height: 100%;
}
.diff{
  margin-bottom: 2px;
}
.diff2{
  margin-top: 25px;
}
.error-display{
  display: none;
}
.red{color: red}
input{
  width: 100%;
  padding: 1px 2px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 1px solid #555;
}
textarea {
  border: 1px solid #ccc;
  resize: none;
  outline: none;
}
textarea:focus {
  border: 1px solid #555;
}
.table,.table-responsive{
  width: 60%;
}
.modal-dialog{
  margin-top: 10%;
}
.selectMar{
  margin-left: 22%;
  width: 60%;
}
.cour_subErr,.stu_subErr{
  display: block;
  margin-left: 22%;
}
.mapping{
  width: 15%;
  margin-left: 18%;
  margin-top: 50px;
}
#add{font-size: 51px;cursor: pointer;}
.page-item,.page-item2{margin-left: 5px; cursor:  pointer;}
#pagination,#pagination1{margin-left: 47%;}
.visited{font-weight: bold;color: green}